<div class="container">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="space-between">
        <mat-panel-title>
          <h5>Name</h5>
        </mat-panel-title>
        <mat-panel-description >
          <mat-icon>people</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="doctor">
        <p>
          <i routerLinkActive="selected-doctor" class="fa fa-stethoscope fa-lg p-2"></i>Sometext
        </p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
