<div class="container">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let investigation of investigations" hideToggle>
      <mat-expansion-panel-header class="space-between">
        <mat-panel-title>
          <h5>{{investigation.type}}</h5>
        </mat-panel-title>
        <mat-panel-description >
          <mat-icon>people</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let inv of investigation.investigations">
        <p>
          {{inv.name}} {{inv.price}}
        </p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
