.container{
  margin-bottom: 9em;
  background-color: rgb(205, 238, 253);
  max-width: 80%;
  display: flex;
  padding: 5em;
  justify-content: space-around;
}

.left, .right {
  width: 50%;
}

.contact {
  margin-bottom: 2em;
}

.left h5 {
  font-weight: 200;
}

.contact span{
  font-size: 2rem;
  display: inline-block;
  color: rgb(34, 100, 185);
  background-color: rgb(159, 215, 241);
  padding: 0.7em;
  border-radius: 10px;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}

.social-media button {
  color: rgb(205, 238, 253);
  border: none;
  border-radius: 5px;
  background-color: rgb(34, 100, 185);
  padding: 0.5em 1em;
  transition: transform 0.5s cubic-bezier(.17,.67,.51,1.42);
  margin-top: 0.5em;
}

button {
  margin-right: 1em;
}

.social-media button:hover {
  transform: scale(1.05);
}
