<div class="container">
  <div class="left">
    <div class="contact">
      <h5>For any details, please dial: </h5><span>*1111</span>
    </div>
    <h5>Meet us online!</h5>
    <div class="social-media">
      <button><i class="fa fa-facebook-square"></i> Facebook</button>
      <button><i class="fa fa-instagram"></i> Instagram</button>
      <button><i class="fa fa-twitter-square"></i> Twitter</button>
    </div>
  </div>
  <div class="right">
    <div class="newsfeed">
      <h4>Please fill in the form to subscribe to our newsfeed</h4>
      <input type="text">
      <input type="text">
    </div>

  </div>
</div>
