.container{
  margin-bottom: 9em;
  background-color: rgb(205, 238, 253);
  max-width: 80%;
  display: flex;
  padding: 5em;
  justify-content: space-around;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact span{
  font-size: 2rem;
  color: rgb(34, 100, 185);
  display: block;
}

.social-media {
  /* background-color: rgb(34, 100, 185); */
  width: 75%;
  padding: 5em;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}

.social-media button {
  border: none;
  border-radius: 5px;
  background-color: rgb(159, 215, 241);
  padding: 2em 3em;
  transition: transform 0.5s cubic-bezier(.17,.67,.51,1.42);
}

.social-media button:hover {
  transform: scale(1.05);
}
