.passes-container {
  background-color: var(--medium-blue);
  /* width: 1800px; */
  max-width: 100%;
  margin: 2rem auto 10rem;
  padding: 4em;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.4s ease-in;
  transition: -webkit-transform 0.4s ease-in;
  -o-transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
}

.passes-title {
  margin-bottom: 3rem;
  text-align: center;
}

.passes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 3rem auto 0;
}
.pass p {
  word-break: break-all;
}

.pass {
  margin: 3rem auto;
  width: 350px;
  max-width: 30%;
  text-align: center;
  padding: 2em;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(.41,1.31,.68,.99);
  transition: -webkit-transform 0.4s cubic-bezier(.41,1.31,.68,.99);
  -o-transition: transform 0.4s cubic-bezier(.41,1.31,.68,.99);
  transition: transform 0.4s cubic-bezier(.41,1.31,.68,.99);
  transition: transform 0.4s cubic-bezier(.41,1.31,.68,.99), -webkit-transform 0.4s cubic-bezier(.41,1.31,.68,.99);
  background-color: var(--light-blue);
}

.pass:hover {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}

.pass h3 {
  position: relative;
  text-align: center;
  padding: 0.5em;
  color: var(--dark-blue);
}

.pass-button {
  padding: 1em 2em 1em 3em;
  margin-top: 1rem;
  background-color: var(--dark-blue);
  color: var(--light-blue);
  border: none;
  border-radius: 10px;
}

.pass-button .detail {
  opacity: 0;
  -webkit-transition: opacity 0.4s cubic-bezier(.41,1.31,.68,.99),-webkit-transform 0.4s;
  transition: opacity 0.4s cubic-bezier(.41,1.31,.68,.99),-webkit-transform 0.4s;
  -o-transition: transform 0.4s,opacity 0.4s cubic-bezier(.41,1.31,.68,.99);
  transition: transform 0.4s,opacity 0.4s cubic-bezier(.41,1.31,.68,.99);
  transition: transform 0.4s,opacity 0.4s cubic-bezier(.41,1.31,.68,.99),-webkit-transform 0.4s;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.pass-button:hover .detail{
  opacity: 1;
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

.price {
  font-size: 2rem;
  font-weight: 600;
  word-break:keep-all !important;
}

.controller {
  display: none;
}

@media (max-width: 992px) {
  .controller {
    display: inline-block;
    border: none;
    border-radius: 50%;
    min-width: 30px;
    min-height: 30px;
    outline: none;
    margin: 0 0.4rem;
    background-color: var(--dark-blue);
    color: var(--light-blue);
  }

  .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1em auto 1em;
    max-width: 100%;
  }

  .carousel-wrapper {
    width: 270px;
    min-width: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-x: hidden;
    overflow-y: visible;
  }

  .pass {
    max-width: 270px;
    min-width: 270px;
  }

  .pass:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .pass p {
    word-break: break-all;
  }

  .passes {
    -webkit-transition: -webkit-transform 0.4s ease-in;
    transition: -webkit-transform 0.4s ease-in;
    -o-transition: transform 0.4s ease-in;
    transition: transform 0.4s ease-in;
    transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
    margin: 0;
  }

  .passes-title {
    margin-bottom: 0;
  }
}


@media (max-width: 300px) {
  .carousel-wrapper {
    width: 200px;
    min-width: 200px;
  }

  .pass {
    max-width: 200px;
    min-width: 200px;
  }

  .pass-button .detail {
    display: none;
  }

  .pass-button {
    padding: 1em 2em;
  }
}
