<div class="passes-container">
  <h2 class="passes-title">Monthly Pass</h2>
  <div class="carousel" carousel>
    <button class="controller"><i class="fa fa-chevron-left"></i></button>
      <div class="carousel-wrapper">
      <div class="passes">
        <div class="pass pass-1">
          <h3>Classic</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad repellat harum fugit maxime magnam, unde totam officiis voluptas similique incidunt recusandae neque in commodi minima. Vero totam dignissimos laborum nobis.Sint maxime commodi enim optio eius aut unde, deleniti vel dolor libero molestias a ipsam distinctio dolore provident cum cupiditate pariatur repellat, at velit, soluta sit? Laboriosam accusamus natus maxime?</p>
          <p class="price">90 &#36;/month</p>
          <button class="pass-button">Details <i class="detail fa fa-arrow-right"></i></button>
        </div>
        <div class="pass pass-2">
          <h3>Comfort</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, soluta voluptates suscipit sapiente modi, tempora numquam dolores, nobis expedita inventore dolorem excepturi velit doloremque. Sapiente dolore aspernatur fuga expedita. Quibusdam.Consectetur quaerat dignissimos beatae numquam minus molestiae maiores velit maxime, odit a earum. Aliquam, vel? Eos nobis suscipit aliquid pariatur deserunt, vel quisquam quos porro sequi velit sed mollitia quo?</p>
          <p class="price">120 &#36;/month</p>
          <button class="pass-button">Details <i class="detail fa fa-arrow-right"></i></button>
        </div>
        <div class="pass pass-3">
          <h3>Deluxe</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, aperiam in harum vero quis placeat deleniti vel iusto ullam laudantium facere, sint reiciendis ex? Officia soluta eaque fugiat porro nobis.Deserunt, hic? Commodi a odit exercitationem laboriosam consequuntur distinctio. Corrupti tempora itaque quo iusto nostrum earum, exercitationem nulla quod eveniet nihil vel fugiat temporibus! Illum commodi quasi saepe quod nemo.</p>
          <p class="price">150 &#36;/month</p>
          <button class="pass-button">Details <i class="detail fa fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
    <button class="controller"><i class="fa fa-chevron-right"></i></button>
  </div>
</div>
