<h2 class="subtitle">Checkout our departments and doctors:</h2>
<div class="page">
  <div class="departments">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let department of departments" hideToggle>
        <mat-expansion-panel-header class="space-between">
          <mat-panel-title>
            <h5>{{department.name}}</h5>
          </mat-panel-title>
          <mat-panel-description >
            <mat-icon>people</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="doctor" *ngFor="let doctor of department.doctors" [routerLink]="['/departments/doctor', doctor.id]" >
          <p>
            <i routerLinkActive="selected-doctor" class="fa fa-stethoscope fa-lg p-2"></i>{{ doctor.firstName }} {{ doctor.lastName }}
          </p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="doctors">
    <router-outlet></router-outlet>
  </div>
</div>
