<div class="main-image">
    <div class="overlay"></div>
    <img src="assets/images/STETHOSCOPE.jpg" alt="STETHOSCOPE">
</div>

<div class="cards">
    <div class="custom-card card-1">
        <h2>Polyclinics</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, ducimus?</p>
    </div>
    <div class="custom-card card-2">
        <h2>Opening hours</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, ducimus?</p>
    </div>
    <div class="custom-card card-3">
        <h2>Emergency</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, ducimus?</p>
    </div>
</div>
