<div class="main-image">
  <div class="overlay"></div>
  <div class="banner">
    <h1>Choose Well! Be Well!</h1>
    <p>We know what is better for you</p>
  </div>
  <img src="assets/images/STETHOSCOPE.jpg" alt="STETHOSCOPE">
</div>
<app-cards></app-cards>
<div class="parallax">
  <div class="overlay"></div>
  <div class="banner">
    <h1>Why choose us</h1>
    <div class="reasons">
      <div class="reason">
        <h5>Quality</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ipsum itaque consequuntur dolorem incidunt facilis a minus iusto adipisci dignissimos natus quis eos nobis reiciendis, dicta sequi vel quia? Id.</p>
      </div>
      <div class="reason">
        <h5>History</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ipsum itaque consequuntur dolorem incidunt facilis a minus iusto adipisci dignissimos natus quis eos nobis reiciendis, dicta sequi vel quia? Id.</p>
      </div>
      <div class="reason">
        <h5>Experience</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ipsum itaque consequuntur dolorem incidunt facilis a minus iusto adipisci dignissimos natus quis eos nobis reiciendis, dicta sequi vel quia? Id.</p>
      </div>
    </div>
  </div>
</div>
<app-passes></app-passes>
<app-social-media></app-social-media>
