<div class="main-image">
  <div class="overlay"></div>
  <div class="banner">
    <h1>Choose Well! Be Well!</h1>
    <p>We know what is better for you</p>
  </div>
  <img src="assets/images/STETHOSCOPE.jpg" alt="STETHOSCOPE">
</div>

<div class="cards">
    <div class="custom-card card-1">
        <div class="card-icon"><i class="fa fa-h-square fa-3x"></i></div>
        <h2 class="custom-card-header">Polyclinics</h2>
        <div class="list">
          <p>Saint Andrew Polyclinic</p>
          <p>New Hampshire Polyclinic</p>
          <p>San Martino Polyclinic</p>
          <p>Queen Anne Polyclinic</p>
        </div>
      </div>
    <div class="custom-card card-2">
        <div class="card-icon"><i class="fa fa-clock-o fa-3x"></i></div>
        <h2 class="custom-card-header">Opening hours</h2>
        <div class="list">
            <p>Monday: 07:00 - 19:00</p>
            <p>Tuesday: 07:00 - 19:00</p>
            <p>Wensday: 07:00 - 19:00</p>
            <p>Thursday: 07:00 - 19:00</p>
            <p>Friay: 07:00 - 19:00</p>
            <p>Saturday: closed</p>
            <p>Sunday: closed</p>
        </div>
    </div>
    <div class="custom-card card-3">
        <div class="card-icon"><i class="fa fa-ambulance fa-3x"></i></div>
        <h2 class="custom-card-header">Emergency</h2>
        <div class="list">
          <p>Non-Stop emergency program</p>
          <p>In all polyclinics</p>
          <p>Phone number : 111</p>
        </div>
    </div>
</div>
<div class="passes-container">
  <h2 class="passes-title">Monthly Pass</h2>
  <div class="passes">
    <div class="pass">
      <h3>Basic</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad repellat harum fugit maxime magnam, unde totam officiis voluptas similique incidunt recusandae neque in commodi minima. Vero totam dignissimos laborum nobis.Sint maxime commodi enim optio eius aut unde, deleniti vel dolor libero molestias a ipsam distinctio dolore provident cum cupiditate pariatur repellat, at velit, soluta sit? Laboriosam accusamus natus maxime?</p>
      <p class="price">90 &#36;/month</p>
      <button class="pass-button">Details <i class="detail fa fa-arrow-right"></i></button>
    </div>
    <div class="pass">
      <h3>Medium</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, soluta voluptates suscipit sapiente modi, tempora numquam dolores, nobis expedita inventore dolorem excepturi velit doloremque. Sapiente dolore aspernatur fuga expedita. Quibusdam.Consectetur quaerat dignissimos beatae numquam minus molestiae maiores velit maxime, odit a earum. Aliquam, vel? Eos nobis suscipit aliquid pariatur deserunt, vel quisquam quos porro sequi velit sed mollitia quo?</p>
      <p class="price">120 &#36;/month</p>
      <button class="pass-button">Details <i class="detail fa fa-arrow-right"></i></button>
    </div>
    <div class="pass">
      <h3>Lux</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, aperiam in harum vero quis placeat deleniti vel iusto ullam laudantium facere, sint reiciendis ex? Officia soluta eaque fugiat porro nobis.Deserunt, hic? Commodi a odit exercitationem laboriosam consequuntur distinctio. Corrupti tempora itaque quo iusto nostrum earum, exercitationem nulla quod eveniet nihil vel fugiat temporibus! Illum commodi quasi saepe quod nemo.</p>
      <p class="price">150 &#36;/month</p>
      <button class="pass-button">Details <i class="detail fa fa-arrow-right"></i></button>
    </div>
  </div>
</div>
