<div carousel>
  <button class="controller">Left</button>
  <div class="carousel-wrapper">
    <div class="cards">
      <div class="custom-card card-1">
          <div class="card-icon"><i class="fa fa-h-square fa-3x"></i></div>
          <h4 class="custom-card-header">Polyclinics</h4>
          <div class="list">
            <p>Saint Andrew Polyclinic</p>
            <p>New Hampshire Polyclinic</p>
            <p>San Martino Polyclinic</p>
            <p>Queen Anne Polyclinic</p>
          </div>
        </div>
      <div class="custom-card card-2" >
          <div class="card-icon"><i class="fa fa-clock-o fa-3x"></i></div>
          <h4 class="custom-card-header">Opening hours</h4>
          <div class="list">
              <p>Monday: 07:00 - 19:00</p>
              <p>Tuesday: 07:00 - 19:00</p>
              <p>Wensday: 07:00 - 19:00</p>
              <p>Thursday: 07:00 - 19:00</p>
              <p>Friay: 07:00 - 19:00</p>
              <p>Saturday: closed</p>
              <p>Sunday: closed</p>
          </div>
      </div>
      <div class="custom-card card-3">
          <div class="card-icon"><i class="fa fa-ambulance fa-3x"></i></div>
          <h4 class="custom-card-header">Emergency</h4>
          <div class="list">
            <p>Non-Stop emergency program</p>
            <p>In all polyclinics</p>
            <p>Phone number : 111</p>
          </div>
      </div>
    </div>
  </div>
  <button class="controller">Right</button>
</div>
