<div class="doctor-profile" [ngStyle]="{'opacity': showMode ? '1' : '0'}">
  <span class="close-button" (click)="showMode=false">&times;</span>
  <div class="profile-image-container">
    <img [src]="doctor.image" alt="profile picture">
  </div>
  <div class="details-container">
    <h4> {{doctor.firstName}} {{doctor.lastName}}</h4>
    <p> {{doctor.description}}</p>
    <h5>Services</h5>
    <p class="service" *ngFor="let service of doctor.services"><mat-icon>check_circle</mat-icon> {{service.name}}</p>
  </div>
  <button>Make an Appointment</button>
</div>
