/* You can add global styles to this file, and also import other style files */

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

html {
    min-height: 100%;
    position: relative;
}

img {
    max-width: 100%;
}

button {
  outline-color: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
