/* You can add global styles to this file, and also import other style files */

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

html {
    min-height: 100%;
    position: relative;
}

img {
    max-width: 100%;
}